# Copy to .env.local for direct Spring Boot execution.
APPLICATION_NAME=config
SERVER_PORT=8090
AUTH0_ISSUER=https://example.eu.auth0.com/
DATASOURCE_NAME=blockout_config
DATASOURCE_URL=jdbc:postgresql://localhost:5438/blockout_config
DATASOURCE_USERNAME=blockout_config
DATASOURCE_PASSWORD=change-me
AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_REGION=eu-west-3
AWS_S3_BUCKET_NAME=blockout-config
JPA_SHOW_SQL=false
LOGGING_LEVEL_ROOT=INFO
