# Application
APPLICATION_NAME=
JPA_SHOW_SQL=
LOGGING_LEVEL_ROOT=

# Local PostgreSQL
DATASOURCE_URL=
DATASOURCE_USERNAME=
DATASOURCE_PASSWORD=

# External integrations - replace with development credentials
AUTH0_ISSUER=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
