# Local application dependencies
TEAM_API_URL=http://localhost:8082/api/v1/teams
COMPETITION_API_URL=http://localhost:8084/api/v1/competitions
CLUB_API_URL=http://localhost:8086/api/v1/clubs
CONFIG_API_URL=http://localhost:8090/api/v1/config

# Application
LOG_LEVEL=INFO

# External authentication - replace with development tenant values
AUTH0_DOMAIN=replace-me.eu.auth0.com
AUTH0_CLIENT_ID=replace-me
AUTH0_CLIENT_SECRET=replace-me
AUTH0_AUDIENCE=https://api.blockout.local
