# Application
APPLICATION_NAME=
LOGGING_LEVEL_ROOT=

# External integrations - replace with development credentials
AUTH0_ISSUER=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
GITHUB_TOKEN=
DISCORD_WEBHOOK_URL=
