# Application
APPLICATION_NAME=notifications
JPA_SHOW_SQL=false
LOGGING_LEVEL_ROOT=INFO

# Local PostgreSQL
DATASOURCE_URL=jdbc:postgresql://localhost:5439/notification
DATASOURCE_USERNAME=notification
DATASOURCE_PASSWORD=notification

# Local RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=blockout
RABBITMQ_PASSWORD=blockout

# Local application dependencies
USER_API_URL=http://localhost:8085/api/v1/users
POOL_API_URL=http://localhost:8081/api/v1/pools
TEAM_API_URL=http://localhost:8082/api/v1/teams

# External integrations - replace with development credentials
AUTH0_ISSUER=https://replace-me.eu.auth0.com/
AUTH0_DOMAIN=replace-me.eu.auth0.com
AUTH0_CLIENT_ID=replace-me
AUTH0_CLIENT_SECRET=replace-me
AUTH0_AUDIENCE=https://api.blockout.local
