# Copy to .env.local for direct Spring Boot execution.
APPLICATION_NAME=search
SERVER_PORT=8088
AUTH0_ISSUER=https://example.eu.auth0.com/
ELASTICSEARCH_HOST=localhost:9200
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
LOGGING_LEVEL_ROOT=INFO
