# Local application dependencies
TEAM_API_URL=http://localhost:8082/api/v1/teams
MATCH_API_URL=http://localhost:8083/api/v1/matches
POOL_API_URL=http://localhost:8081/api/v1/pools
COMPETITION_API_URL=http://localhost:8084/api/v1/competitions
CONFIG_API_URL=http://localhost:8090/api/v1/config

# Application
LOG_LEVEL=INFO
SCRAPERS=regional,departmental,national,pro

# External authentication - replace with development tenant values
AUTH0_DOMAIN=replace-me.eu.auth0.com
AUTH0_CLIENT_ID=replace-me
AUTH0_CLIENT_SECRET=replace-me
AUTH0_AUDIENCE=https://api.blockout.local
